<% @abilities.each do |ability| %>
  <h1><%= link_to ability.name, ability_path(ability.id) %> - </h1>
  <p><%= ability.description %></p>
  <%= render partial: 'skills/show', locals: { ability: ability } %>
<% end %>
