// * {
//   border: 1px solid blue;
// }

.navigation {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 2px;
  padding-left: 15px;
}

#link-list {
  padding-left: 15px;
  padding-top: 0;
  display: flex;
  order: 1;
  align-content: center;
  align-items: center;
}
